################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/billpay/FileContentIndex
/.vs/billpay/v17
/.vs
